  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  --primary-color: #007c9b;
  --secondary-color: #cb6ce6;
  --background-color: #fff;
  --text-color: #888;
  --border-radius: 5px;

  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  color: var(--primary-color);
}

a {
  color: inherit;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

